body{
  background-image: url("https://www.iwantwallpaper.co.uk/images/grandeco-botanical-fruit-flower-pattern-wallpaper-tropical-floral-motif-ba2001-p3613-8596_image.jpg");
  background-color: #99ffcc;
  margin: auto;
  max-width: 600px;
  font-family: georgia, helvetica, sans-serif;
}

.photo{
  width: 35%;
  border: 5px solid grey;
  margin-right: 20px;
  margin-top: 110px;
  float: right;
}

.kphoto{
  width: 80%;
  border: 5px solid grey;
  margin-left: 8px;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown:hover .talking{
  display:block;
}

.define{
  position:absolute;
  clear: left;
  display: table;
  border: 5px solid grey;
  margin-top: 80px;
  background-color: #fcdec6;
  padding-right: 329px;
  padding-bottom: 69px;
  padding-left: 50px;
  padding-top: 26px;
  
}

.me{
text-align: center;
}

.secret{
  padding-left: 415px;
  position: absolute;
  margin-top: 331px;
  z-index: 1;
  
}

.talking{
  display: none;
  position: absolute;
  background-color: white;
  max-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 2;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 333px;
  margin-left: 360px;
  margin-right: 20px
}

.sidebar{
  max-height: 1080px;
  width:200px;
  position: fixed;
  right:20px;
  top: 0;
  background-color: #b8e2cd;
  border: 5px solid grey;
  margin-top: 300px;
}

.kooky{
  text-align: center;
  
  padding-right: 15px;
  padding-left: 5px;
}

.pro-exp{
  text-align: center;
  background-color: #f1efe5;
  border: 5px solid grey;
  padding-left:30px;
  padding-right:30px;
  max-width: max-content;
  margin: auto;
  margin-top: 50px;
  
}

.cd{
  background-color: #f1efe5;
  border: 5px solid grey;
  padding-left:10px;
  padding-right:10px;
}

.pl{
  background-color: #f1efe5;
  border: 5px solid grey;
  padding-left:10px;
  padding-right:10px;
}

.edu-exp{
  text-align: center;
  background-color: #fde5e5;
  border: 5px solid grey;
  padding-left:30px;
  padding-right: 30px;
  max-width: max-content;
  margin: auto;
}

.hamline{
  background-color: #fde5e5;
  border: 5px solid grey;
  padding-left:10px;
  padding-right:10px;  
}
