body{
  background-image: url("https://www.iwantwallpaper.co.uk/images/grandeco-botanical-fruit-flower-pattern-wallpaper-tropical-floral-motif-ba2001-p3613-8596_image.jpg");
  background-color: #99ffcc;
  margin: 10% 20%;
  font-family: georgia, helvetica, sans-serif;
}

.header{
  clear: left;
  text-align: center;
  background-color: #e7fbe9;
  border: 5px solid grey;
  padding-left:10px;
  padding-right:10px;
}

img{
  width: 30%;
  border: 5px solid grey;
  float: right;
  margin-bottom: 3%;
}

.pro-exp{
  clear: both;
  text-align: center;
  background-color: #f1efe5;
  border: 5px solid grey;
  padding-left:10px;
  padding-right:10px; 
}

.cd{
  background-color: #f1efe5;
  border: 5px solid grey;
  padding-left:10px;
  padding-right:10px;
}

.pl{
  background-color: #f1efe5;
  border: 5px solid grey;
  padding-left:10px;
  padding-right:10px;
}

.edu-exp{
  text-align: center;
  background-color: #fde5e5;
  border: 5px solid grey;
  padding-left:10px;
  padding-right:10px; 
}

.hamline{
  background-color: #fde5e5;
  border: 5px solid grey;
  padding-left:10px;
  padding-right:10px;  
}
