body{
  background-image: url("https://www.iwantwallpaper.co.uk/images/grandeco-botanical-fruit-flower-pattern-wallpaper-tropical-floral-motif-ba2001-p3613-8596_image.jpg");
  background-color: #99ffcc;
  margin: auto;
  max-width: 600px;
  font-family: georgia, helvetica, sans-serif;
}

img{
  width: 80%;
  border: 5px solid grey;
  margin-left: 15px;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown:hover .talking{
  display:block;
}

.secret{
  text-align: center;
}

.talking{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  border: 2px solid black;
  border-radius: 5px;
}

.sidebar{
  max-height: 1080px;
  width:200px;
  position: fixed;
  right: 10%;
  top: 0;
  background-color: #b8e2cd;
  border: 5px solid grey;
  margin-top: 100px;
}

.me{
  text-align: center;
  position: relative;
  display: inline-block;
}

.kooky{
  text-align: center;
  border-top: 5px solid grey;
  padding-right: 15px;
  padding-left: 5px;
}

.pro-exp{
  text-align: center;
  background-color: #f1efe5;
  border: 5px solid grey;
  padding-left:10px;
  padding-right:10px;
  
}

.cd{
  background-color: #f1efe5;
  border: 5px solid grey;
  padding-left:10px;
  padding-right:10px;
}

.pl{
  background-color: #f1efe5;
  border: 5px solid grey;
  padding-left:10px;
  padding-right:10px;
}

.edu-exp{
  text-align: center;
  background-color: #fde5e5;
  border: 5px solid grey;
  padding-left:10px;
  padding-right:10px; 
}

.hamline{
  background-color: #fde5e5;
  border: 5px solid grey;
  padding-left:10px;
  padding-right:10px;  
}
